@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
  --main-bg-color: #EFF9FF;
  --main-font-color: #105157;  
  --green: #33BC84;
  --light-green: #BADB61;
  --dark-green: #105157;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", -apple-system, Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  overflow-x: hidden;
  background-color: var(--main-bg-color);
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 4em;
  font-weight: 500;
  color: var(--main-font-color);
}

h2 {
  font-size: 1.7em;
  font-weight: 600;
  color: var(--main-font-color);
}

p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.7em;
  line-height: 45px;
  text-align: center;
  color: var(--main-font-color);
}

a {
  font-style: normal;
  font-weight: 300;
  font-size: 1.7em;
  line-height: 45px;
  text-align: center;
  color: var(--main-font-color);
}

